<?xml version="1.0"?>
<launch>

    <!-- Launch other relevant files-->
    <include file="$(find my_robot_navigation)/launch/gazebo.launch"/>

    <!-- Launch other relevant files-->
    <include file="$(find my_robot_navigation)/launch/rviz.launch"/>

    <!-- Launch other relevant files-->
    <!-- <include file="$(find my_robot_navigation)/launch/world.launch"/> -->

    <!-- Launch other relevant files-->
    <include file="$(find my_robot_navigation)/launch/amcl.launch"/>

    <include file="$(find my_robot_navigation)/launch/move_base.launch" />

</launch>